
.pd {
	padding: 5% 0;
}

//Header

header {
	background-color: $primary-color-dark;
	h1 {
		@include typography($title-typ, 3rem, $accent-color);
	}
	input[type=search]{
		border-bottom:2px solid $accent-color;
		margin-top:38px;
	}
	.buscar{
		color:$accent-color;
	}
}


#recent {
	h2 {
		@include typography($title-typ, 2rem, $accent-color);
	}
	.img-recientes{
		padding:5%;	
	}
}

h3 {
	@include typography($title-typ, 1.5rem, $primary-text-color);
}

//mapa
#map-canvas {
    width: 50%;
    height: 100%;
    position: absolute;
}

.row-info{
	margin-bottom:0px !important;
}

.izquierda{
	margin-top:20px;
}

@media (max-width: 600px) {
	#map-canvas {
		width: 100%;
	}
}